<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.webboard.board.mapper.BoardMapper">
    <sql id="select-from-board">
        SELECT BOARD_NO AS boardNo
             , BOARD_NAME AS boardName
          FROM BOARD
    </sql>

    <sql id="select-from-post">
        SELECT BOARD_NO AS boardNo
             , POST_NO AS postNo
             , USER_ID AS userId
             , NICKNAME AS nickname
             , TITLE AS title
             , CONTENT AS content
             , FORMATDATETIME(CREATE_DT, 'yyyy-MM-dd HH:mm:ss') AS createDt
             , FORMATDATETIME(UPDATE_DT, 'yyyy-MM-dd HH:mm:ss') AS updateDt
          FROM POST
    </sql>

    <sql id="where-board">
         WHERE BOARD_NO = #{boardNo}
    </sql>

    <sql id="where-post">
         WHERE BOARD_NO = #{boardNo}
           AND POST_NO = #{postNo}
    </sql>

    <select id="selectBoardList" resultType="com.demo.webboard.board.vo.BoardVO">
        <include refid="select-from-board" />
         ORDER BY BOARD_NO ASC
    </select>
    <select id="selectBoardMap" resultType="com.demo.webboard.board.vo.BoardVO">
        <include refid="select-from-board" />
        <include refid="where-board" />
    </select>
    <insert id="insertBoardMap" parameterType="com.demo.webboard.board.vo.BoardVO" useGeneratedKeys="false">
        <selectKey keyProperty="boardNo" resultType="long" order="AFTER">
            SELECT MAX(BOARD_NO) FROM BOARD;
        </selectKey>
        INSERT INTO BOARD (
            BOARD_NAME
        ) VALUES (
            #{boardName}
        )
    </insert>
    <delete id="deleteBoardMap" parameterType="com.demo.webboard.board.vo.BoardVO">
        DELETE FROM BOARD
        <include refid="where-board" />
    </delete>



    <select id="selectPostListCount" parameterType="com.demo.webboard.board.vo.BoardVO" resultType="int">
        SELECT COUNT(*) CNT
          FROM POST
        <include refid="where-board" />
    </select>
    <select id="selectPostList" parameterType="com.demo.webboard.board.vo.BoardVO" resultType="com.demo.webboard.board.vo.BoardVO">
        SELECT *
          FROM (
            SELECT ROWNUM() AS rnum
                 , p.*
             FROM (
                <include refid="select-from-post" />
                 WHERE BOARD_NO = #{boardNo}
                 ORDER BY POST_NO DESC
            ) p
        )
        <![CDATA[ WHERE rnum > (#{pageNo} * #{pageSize}) - #{pageSize} AND rnum  <= (#{pageNo} * #{pageSize}) ]]>
    </select>
    <insert id="insertPostMap" parameterType="com.demo.webboard.board.vo.BoardVO">
        INSERT INTO POST (
              BOARD_NO
            , USER_ID
            , NICKNAME
            , TITLE
            , CONTENT
            , CREATE_DT
            , UPDATE_DT
        ) VALUES (
              #{boardNo }
            , #{userId }
            , #{nickname }
            , #{title }
            , #{content }
            , NOW()
            , NOW()
        )
    </insert>
    <select id="selectPostMap" parameterType="com.demo.webboard.board.vo.BoardVO" resultType="com.demo.webboard.board.vo.BoardVO">
        <include refid="select-from-post" />
        <include refid="where-post" />
    </select>
    <update id="updatePostMap" parameterType="com.demo.webboard.board.vo.BoardVO">
        UPDATE POST
           SET TITLE = #{title}
             , CONTENT = #{content}
             , UPDATE_DT = NOW()
        <include refid="where-post" />
    </update>
    <delete id="deletePostMap" parameterType="com.demo.webboard.board.vo.BoardVO">
        DELETE FROM POST
        <include refid="where-board" />
        <if test='postNo != null and postNo != ""'>
           AND POST_NO = #{postNo}
        </if>
    </delete>

</mapper>