<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.webboard.board.mapper.BoardMapper">

    <select id="selectBoardList" resultType="ParamMap">
        SELECT BOARD_NO
             , NAME
          FROM BOARD
         ORDER BY BOARD_NO ASC
    </select>
    <select id="selectBoardMap" resultType="ParamMap">
        SELECT BOARD_NO
             , NAME
          FROM BOARD
         WHERE BOARD_NO = #{boardNo}
    </select>
    <insert id="insertBoardMap" parameterType="ParamMap" useGeneratedKeys="false">
        <selectKey keyProperty="boardNo" resultType="long" order="AFTER">
            SELECT MAX(BOARD_NO) FROM BOARD;
        </selectKey>
        INSERT INTO BOARD (
            NAME
        ) VALUES (
            #{name}
        )
    </insert>
    <delete id="deleteBoardMap" parameterType="ParamMap">
        DELETE FROM BOARD
        WHERE BOARD_NO = #{boardNo}
    </delete>



    <select id="selectPostListCount" parameterType="ParamMap" resultType="int">
        SELECT COUNT(*) CNT
          FROM POST
         WHERE BOARD_NO = #{boardNo}
    </select>
    <select id="selectPostList" parameterType="ParamMap" resultType="ParamMap">
        SELECT BOARD_NO
             , POST_NO
             , USER_ID
             , NICKNAME
             , TITLE
             , FORMATDATETIME(CREATE_DT, 'yyyy-MM-dd HH:mm:ss') AS CREATE_DT
             , FORMATDATETIME(UPDATE_DT, 'yyyy-MM-dd HH:mm:ss') AS UPDATE_DT
          FROM (
            SELECT ROWNUM() AS rnum
                 , *
             FROM (
                SELECT *
                  FROM POST
                 WHERE BOARD_NO = #{boardNo}
                 ORDER BY POST_NO DESC
            )
        )
        <![CDATA[ WHERE rnum > (#{pageNo} * #{pageSize}) - #{pageSize} AND rnum  <= (#{pageNo} * #{pageSize}) ]]>
    </select>
    <insert id="insertPostMap" parameterType="ParamMap">
        INSERT INTO POST (
              BOARD_NO
            , USER_ID
            , NICKNAME
            , TITLE
            , CONTENT
            , CREATE_DT
            , UPDATE_DT
        ) VALUES (
              #{boardNo }
            , #{userId }
            , #{nickname }
            , #{title }
            , #{content }
            , NOW()
            , NOW()
        )
    </insert>
    <select id="selectPostMap" parameterType="ParamMap" resultType="ParamMap">
        SELECT BOARD_NO
             , USER_ID
             , NICKNAME
             , TITLE
             , CONTENT
             , FORMATDATETIME(CREATE_DT, 'yyyy-MM-dd HH:mm:ss') AS CREATE_DT
             , FORMATDATETIME(UPDATE_DT, 'yyyy-MM-dd HH:mm:ss') AS UPDATE_DT
          FROM POST
         WHERE BOARD_NO = #{boardNo}
           AND POST_NO = #{postNo}
    </select>
    <update id="updatePostMap" parameterType="paramMap">
        UPDATE POST
           SET TITLE = #{title}
             , CONTENT = #{content}
             , UPDATE_DT = NOW()
         WHERE BOARD_NO = #{boardNo}
           AND POST_NO = #{postNo}
    </update>
    <delete id="deletePostMap" parameterType="ParamMap">
        DELETE FROM POST
         WHERE BOARD_NO = #{boardNo}
        <if test='postNo != null and postNo != ""'>
           AND POST_NO = #{postNo}
        </if>
    </delete>

</mapper>