<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.webboard.user.mapper.UserMapper">

    <select id="selectUserRoleList" resultType="String" >
        SELECT R.ROLE   AS role
          FROM USER_ROLE UR
         INNER JOIN ROLE R
            ON UR.ROLE_NO = R.ROLE_NO
         WHERE UR.USER_NO = #{userNo}
    </select>

    <select id="selectUserMap" parameterType="UserVO" resultType="UserVO" >
        SELECT USER_ID  AS userId
             , USER_NAME AS userName
             , NICKNAME AS nickname
            <if test='userId != null and userId != ""'>
             , USER_NO  AS userNo
             , PASSWORD AS password
            </if>
          FROM USER
         WHERE 1=1
         <choose>
             <when test='userNo != null and userNo != ""'>
                 AND USER_NO = #{userNo}
             </when>
             <when test='userId != null and userId != ""'>
                 AND USER_ID = #{userId}
             </when>
             <otherwise>
                 AND 1=2
             </otherwise>
         </choose>
    </select>

    <select id="selectUserCount" parameterType="UserVO" resultType="int" >
        SELECT COUNT(*)
          FROM USER
         WHERE 1=1
         <choose>
             <when test='userNo != null and userNo != ""'>
                 AND USER_NO = #{userNo}
             </when>
             <when test='nickname != null and nickname != ""'>
                 AND NICKNAME = #{nickname}
             </when>
             <when test='userId != null and userId != "" and userName != null and userName != ""'>
                 AND USER_ID = #{userId}
                 AND USER_NAME = #{userName}
             </when>
             <otherwise>
                 AND 1=2
             </otherwise>
         </choose>
    </select>

    <update id="updateUserInfo" parameterType="UserVO" >
        UPDATE USER
           SET PASSWORD = #{password}
           <if test='nickname != null and nickname != ""'>
             , NICKNAME = #{nickname}
           </if>
         WHERE USER_ID = #{userId}
    </update>
</mapper>